/*
Colores Propuestos: 

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/


/*||||||| GENERAL |||||||*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*||||||| BODY - FOOTER |||||||*/
footer {
    text-align: center;
    background-color: white;
}

footer i {
    color: #03264C;
    font-size: 2em;
    margin-bottom: 10px;
}

footer section h4 {
    color: #666;
}

footer section p {
    color: #666;
}

@media (min-width: 769px) {
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .copyright {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-left: -190%;
    }
    
    /* footer .fa-solid:hover {
        transition-property: color, color ;
        transition-duration: 1s;
        color: #780deb;
    } */

    @keyframes anim{
        0% {color: #03264C;}
       25% {color: rgb(19, 234, 245);} 
       50% {color: #780deb;} 
       75% {color: rgb(19, 234, 245);} 
      100% {color: #03264C;} 
    }
    footer .fa-solid:hover {
      animation-name: anim;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
}


