/*
Colores Propuestos: 

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/


/*||||||| GENERAL |||||||*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*||||||| BODY - HEADER |||||||*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

header {
    display:flex;
    background-color: #EAC926;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    flex-direction: column;
}

#parteSuperiorDelHeader{
    display: flex;
    flex-direction: row;
}
.logoML {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

#busqueda{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.barraBusqueda {
    background-color: #ebebeb;
    height: 3em;
    border-color: #EAC926;
    border-style: none;
    border-radius: 5px;
}

#botonBusquedaPrincipal {
    cursor: pointer;
    height: 3em;
    border-color: #EAC926;
    border-style: none;
    border-radius: 5%;
    margin-left: -3px;
}

#financiacion1 {
    display: none;
}

.parteInferiorDelHeader{
    flex-direction: column;
    width: 100%;
    text-align: center;

}
header p {
    padding-top: 2em;
    text-align: center;
    padding-bottom:2em;
}

.navegacion {
    background-color: #EAC926;
    margin-left: 1em;
    display: none;
}

header nav ul li{
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #03264C;
}

.burgerMenu {
    background-color: #03264C;
    border-radius: 10%;
    cursor: pointer;
    font-size: 24px;
    width: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.burgerMenu i {
    color: #ebebeb;
    width: 100%;
}

/*||||||||||||||||||||||||||||*/
/*||||||| MEDIA QUERYS |||||||*/
/*||||||||||||||||||||||||||||*/

@media (min-width: 361px) {
    /*||||||| BODY - HEADER |||||||*/
        #parteSuperiorDelHeader {
            padding-bottom: 2em;
            align-items: normal;
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
        }
        .logoML{
            width: 40%;
        }
        #busqueda{
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .barraBusqueda {

            height: auto;
            width: 80%;
            border-color: #666;
            border-style:solid;
        }
        
        #botonBusquedaPrincipal {
            height: auto;
            width: 10%;
            font-style:oblique ;
            margin-left: -2px;
            border-color: #666;
            border-style:solid;
            font-size: auto;
        }
        header p {
            padding-top: 1em;
            text-align: start;
            padding-bottom:1em;
        
        }
        #financiacion1 {
            display:flex;
            width: 20%;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

        }
        #financiacion2 {
            display:none;
        }
        .burgerMenu {
            display:none;
        }
        .burgerMenu i {
            display:none;
        }
        .parteInferiorDelHeader {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;

        }
        .navegacion{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
        .navegacion ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            width: 100%;
        }
        header nav ul li{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            width: 100%;
        }
        .navIzquierdo {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            width: 100%;
        }
        .navDerecho {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            width: 100%;
        }
        #pieDePagina{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
        }
        .copyright { 
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }