/*
Colores Propuestos: 

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/


/*||||||| GENERAL |||||||*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*||||||| BODY - MAIN |||||||*/
main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*||||||| BODY - MAIN - SECTION1 |||||||*/
.banner {
    width: 100%;
}

#basadoEnTuUltimaVisita {
    background-color: #ebebeb;
    border-top: solid 1px #ebebeb;
    margin-left: 5%;
    margin-right: 5%;
}

#basadoEnTuUltimaVisita h2 {
    font-size: 24px;
    color: #666;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 15px;
}

/*||||||| BODY - MAIN - SECTION2 |||||||*/
#seccionOfertas {
    background-color: #ebebeb;
    border-top: solid 1px #ebebeb;
    margin-left: 5%;
    margin-right: 5%;
}

#seccionOfertas h2 {
    font-size: 24px;
    color: #666;
    padding-left: 15px;
}

/*||||||| BODY - MAIN - SECTION - ARTICLE |||||||*/

.producto {
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.detallesArticulos{
    background-color: white;
    padding: 15px 15px 15px 15px;
    margin-top: -2px;

}

.preciosYDescuentos{
display: flex;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: #20c200;
    padding-left: 1em;
    margin-bottom: 1em;
}

.descripciones {
    font-size: 16px;
    display:none;
}

.imagen {
    width: 100%;
    align-items: center;
}

.iconos {
    position: relative;
}

.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -30px;
}


/*|||||||BODY - MAIN - SECTION - ARTICLE |||||||*/

main section {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2em;
    width: 100%;
}
main article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 42%;
}

    .descripciones{
        display:inherit;
    }


@media (min-width: 769px) {
    main {
        display:flex;
        flex-direction: column;
        font-size: 24px;
    }
    .banner {
        align-items: start;
    }
    main h2 {
        color: #666;
    }
    main section {
        display:flex;
        flex-direction: row;
        padding-bottom: 2em;
        width: 100%;
    }
    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }
}
/*||||||||||||||||||FIN||||||||||||||||||||||*/