/*
Colores Propuestos: 

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/


/*||||||| GENERAL |||||||*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.iconos {
    align-items: left;
    position: relative;
}

.fa-truck {
    font-size: 1.2em;
    color: #20c200;
    position: relative;
    border: 1px solid #20c200;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    padding-left: 5px;
}

/*||||||| BODY - HEADER |||||||*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

header {
    display: inline-block;
    background-color: #EAC926;
    width: 100vw;
    padding-bottom: 2em;
}

.logoML {
    width: 25%;
    margin-left: 2em;
}

#busqueda{
    width: 100vw;
    display: start;
    padding-top: 1em;
}

.barraBusqueda {
    background-color: #ebebeb;
    margin-left:1em;
}

#botonBusquedaPrincipal {
    cursor: pointer;
}

header p {
    text-align: center;
    padding-top: 1em;
}
.navegacion {
    background-color: #EAC926;
    margin-left: 1em;
    padding-top: 5em;
}

header nav ul li{
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #03264C;
}

.burgerMenu {
    background-color: #03264C;
    border-radius: 10%;
    cursor: pointer;
    font-size: 24px;
    width: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display:none;
    margin-bottom: 2em;
}

.burgerMenu i {
    color: #ebebeb;
}
/*||||||| BODY - MAIN |||||||*/
main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*||||||| BODY - MAIN - SECTION1 |||||||*/
.banner {
    width: 100vw;
}

#basadoEnTuUltimaVisita {
    background-color: #ebebeb;
    border-top: solid 1px #ebebeb;
    margin-left: 5%;
    margin-right: 5%;
}

#basadoEnTuUltimaVisita h2 {
    font-size: 24px;
    color: #666;
}

/*||||||| BODY - MAIN - SECTION2 |||||||*/
#seccionOfertas {
    background-color: #ebebeb;
    border-top: solid 1px #ebebeb;
    margin-left: 5%;
    margin-right: 5%;
}

#seccionOfertas h2 {
    font-size: 24px;
    color: #666;
}

/*||||||| BODY - MAIN - SECTION - ARTICLE |||||||*/

.producto {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.detallesArticulos{
    background-color: white;
    padding: 15px 15px 15px 15px;
    margin-top: -2px;

}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
    color: #20c200;
    margin-bottom: 1em;
}

.descripciones {
    font-size: 16px;
}

.imagen {
    width: 100%;
    align-items: center;
}

/*||||||| BODY - FOOTER |||||||*/
footer {
    text-align: center;
    background-color: white;
}

footer i {
    color: #03264C;
    font-size: 2em;
    margin-bottom: 10px;
}

footer section h4 {
    color: #666;
}

footer section p {
    color: #666;
}
/*||||||||||||||||||FIN||||||||||||||||||||||*/